html {
  font-size: 20px;
}

html, body {
  margin: 0;
  height: 100%;
}

.application {
  padding: 8px;
  height: 100%;
  box-sizing: border-box;

  background-color: #eae8e4;
}


.reader {
  max-width: 50em;
  margin: auto;
}

.reader-reference {
  font-family: 'Roboto', sans-serif;
  color: #9c772e;
}

.reader-text {
  font-family: 'Cardo', serif;
  line-height: 2;
  color: #210f04;
}

.large .reader-text {
  font-size: 1.5em;
}


.verse-number {
  display: none;

  margin-left: 0.6em;

  font-size: 0.8em;
  font-weight: bold;
  color: #999999;
}

.show-verse-numbers .verse-number {
  display: initial;
}

.break-verses .verse-number::before {
  content: ' ';
  display: block;
}


.break-sentences .sentence-break {
  display: block;
  margin-bottom: 1em;
}

.reader p {
  display: inline;
}

.reader .break-paragraphs p {
  display: block;
}


.annotation-cell {
  display: inline-block;
  text-align: center;
  margin: 0 0.5em;
}

.annotation-cell:hover {
  background-color: #e3d7d0;
}

.annotation-cell .original, .annotation-cell .interlinear {
  display: block;
}

.annotation-cell .interlinear {
  margin-top: -0.6em;
  font-size: 0.7em;
  color: #555555;
}
